#!/bin/bash

set -eufo pipefail

trap 'killall Dock' EXIT

{{ template "scripts-library" }}

log_task "Configuring dock"

## ---- Settings ----

defaults write com.apple.dock autohide -bool true
defaults write com.apple.dock autohide-delay -float 0
defaults write com.apple.dock largesize -float 80
defaults write com.apple.dock magnification -bool true
defaults write com.apple.dock show-recents -bool false
defaults write com.apple.dock tilesize -float 70

# ---- Clear icons ----

if ! dockutil --no-restart --remove all; then
  log_error "Failed to clear the dock"
fi

# ---- Add apps ----

declare -a apps=(
  Arc
  "Spark Desktop:Spark"
  Superhuman
  "Things3:Things"
  Bear
  "Visual Studio Code:Code"
  Warp
  Sourcetree
  Spotify
  /System/Applications/Calendar.app:Calendar
)

for tuple in "${apps[@]}"; do
  # if tuple contains a colon, split it into app and label
  if [[ "$tuple" =~ : ]]; then
    IFS=":" read -r app label <<< "$tuple"
  else
    app=$tuple
    label=$tuple
  fi

  # if app does not end in .app, assume it is in /Applications
  if [[ "${app}" != *.app ]]; then
    app="/Applications/${app}.app"
  fi

  if ! dockutil --no-restart \
      --add "${app}" \
      --label "${label}" \
      --position end 1>/dev/null; then
    log_error "Failed to add \"${app}\" to dock"
    break
  fi
done

# ---- Add folders ----

declare -a folders=(
  "~/Downloads:Downloads:fan:stack:dateadded"
  "/Applications:Applications:grid:folder:name"
)

for tuple in "${folders[@]}"; do
  IFS=":" read -r folder label view display sortby <<< "$tuple"
  if ! dockutil --no-restart \
      --add "${folder}" \
      --label "${label}" \
      --view $view \
      --display $display \
      --sort $sortby \
      --position end \
      --section others 1>/dev/null; then
    log_error "Failed to add \"${folder}\" to dock"
    break
  fi
done

# ---- ----
