#!/bin/bash

set -eufo pipefail

{{ template "scripts-library" }}

# Run `brew bundle dump --describe` from the chezmoi source directory to generate the Brewfileu

log_task "Installing Homebrew packages"

if ! brew bundle \
    --no-lock --file="{{ .chezmoi.sourceDir }}{{ .chezmoi.pathSeparator }}Brewfile" \
    > /dev/null 2>&1; then
  log_error "Failed to install Homebrew packages"
fi
