#!/bin/bash

set -eufo pipefail

{{ template "scripts-library" }}

log_task "Installing Homebrew packages"

brew bundle --no-lock --file={{ .chezmoi.sourceDir }}{{ .chezmoi.pathSeparator }}Brewfile > /dev/null 2>&1 || true
