[settings]
    encryption = "gpg"

[data]
    email = "mail@brendansmith.ai"
    name = "Brendan Smith"
    onepasswordAccount = "NSQ2NDAXR5ENXN4ONSJVFU5YTA"

[git]
    autoCommit = true
    autoPush = true
    commitMessage = "Update dotfiles"

[gpg]
    recipient = "5634AEEEDADC4F3C8F4FAD788243A978193E5D56"

[source]
# Use data from the template in the config file
path = "{{ .chezmoi.sourcePath }}"

[destination]
path = "{{ .chezmoi.destinationPath }}"
