[user]
	name = {{ .name }}
	email = {{ .email }}
	signingkey = {{ onepasswordRead "op://Personal/brendancsmith-GitHub/public key" .onepasswordAccount }}
[core]
	excludesfile = {{ .chezmoi.homeDir }}{{ .chezmoi.pathSeparator }}.gitignore_global
	attributesfile = {{ .chezmoi.homeDir }}{{ .chezmoi.pathSeparator }}.config{{ .chezmoi.pathSeparator }}{{ .chezmoi.config.git.command }}{{ .chezmoi.pathSeparator }}attributes
[difftool "sourcetree"]
	cmd = {{ .chezmoi.pathSeparator }}usr{{ .chezmoi.pathSeparator }}local{{ .chezmoi.pathSeparator }}bin{{ .chezmoi.pathSeparator }}ksdiff -w \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = {{ .chezmoi.pathSeparator }}usr{{ .chezmoi.pathSeparator }}local{{ .chezmoi.pathSeparator }}bin{{ .chezmoi.pathSeparator }}ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[commit]
	template = {{ .chezmoi.homeDir }}{{ .chezmoi.pathSeparator }}.stCommitMsg
	gpgsign = true
[{{ .chezmoi.config.gpg.command }}]
	format = ssh
[{{ .chezmoi.config.gpg.command }} "ssh"]
	program = {{ .chezmoi.pathSeparator }}Applications{{ .chezmoi.pathSeparator }}1Password.app{{ .chezmoi.pathSeparator }}Contents{{ .chezmoi.pathSeparator }}MacOS{{ .chezmoi.pathSeparator }}{{ .chezmoi.config.onepassword.command }}-ssh-sign
