[settings]
    encryption = "gpg"

[data]
    gh_username = "brendancsmith"
    email = "mail@brendansmith.ai"
    name = "Brendan Smith"
    onepasswordAccount = "NSQ2NDAXR5ENXN4ONSJVFU5YTA"
    aiderModel = "gpt-4o"
    aicommitsModel = "gpt-4o-mini"
    metagptModel = "gpt-4-turbo"
[git]
    autoCommit = true
    autoPush = true
    commitMessage = "Update dotfiles"

[gpg]
    recipient = "5634AEEEDADC4F3C8F4FAD788243A978193E5D56"

[github]
    refreshPeriod = "12h"
