source ~/.dotfiles/.zprofile


{{- $paths := list -}}

{{- $homeDir := .chezmoi.homeDir -}}
{{- range $_, $relPath := list "bin" "go/bin" ".cargo/bin" ".local/bin" -}}
{{-   $path := joinPath $homeDir $relPath -}}
{{-   if stat $path -}}
{{-     $paths = mustAppend $paths $path -}}
{{-   end -}}
{{- end -}}

{{- if stat "/Applications/Postgres.app/Contents/Versions/latest/bin" -}}
{{-   $paths = mustAppend $paths "/Applications/Postgres.app/Contents/Versions/latest/bin" -}}
{{- end -}}

{{- if stat "/Applications/Couchbase Server.app/Contents/Resources/couchbase-core/bin" -}}
{{-   $paths = mustAppend $paths "/Applications/Couchbase Server.app/Contents/Resources/couchbase-core/bin" -}}
{{- end -}}

{{- $sep := (.chezmoi.pathListSeparator | quote) -}}
{{ if $paths }}
# ---- path ----

# If you come from bash you might have to change your $PATH.
export PATH={{- toStrings $paths | join $sep -}}:$PATH
{{- end }}

# ---- homebrew ----

{{ $homebrew := "/opt/homebrew/bin/brew" }}
{{- if stat $homebrew -}}
fpath+=("{{ output $homebrew "--prefix" | trim }}/share/zsh/site-functions")

eval $({{ $homebrew }} shellenv)
{{- end }}

# ---- orbstack ----

# Added by OrbStack: command-line tools and integration
source ~/.orbstack/shell/init.zsh 2>/dev/null || :

# ---- OpenAI ----

export OPENAI_API_KEY=$(op read "op://Personal/OpenAI API Key/api key")
