source ~/.dotfiles/.zprofile



# ---- path ----

# If you come from bash you might have to change your $PATH.
export PATH={{- toStrings $paths | join $sep -}}:$PATH
{{- end }}

# ---- homebrew ----

{{ $homebrew := "/opt/homebrew/bin/brew" }}
{{- if stat $homebrew -}}
fpath+=("{{ output $homebrew "--prefix" | trim }}/share/zsh/site-functions")

eval $({{ $homebrew }} shellenv)
{{- end }}

# ---- orbstack ----

# Added by OrbStack: command-line tools and integration
source ~/.orbstack/shell/init.zsh 2>/dev/null || :

# ---- OpenAI ----

export OPENAI_API_KEY=$(op read "op://Personal/OpenAI API Key/api key")
