[user]
	name = {{ .name }}
	email = {{ .email }}
	signingkey = {{ onepasswordRead (printf "op://Personal/%s-GitHub/public key" .gh_username) .onepasswordAccount }}
[core]
	excludesfile = {{ .chezmoi.homeDir }}{{ .chezmoi.pathSeparator }}.gitignore_global
	attributesfile = {{ .chezmoi.homeDir }}{{ .chezmoi.pathSeparator }}.config{{ .chezmoi.pathSeparator }}{{ .chezmoi.config.git.command }}{{ .chezmoi.pathSeparator }}attributes
	sshCommand = ssh -i {{ .chezmoi.homeDir}}{{ .chezmoi.pathSeparator }}.ssh{{ .chezmoi.pathSeparator }}{{ .gh_username }}-GitHub
[difftool "sourcetree"]
	cmd = {{ .chezmoi.pathSeparator }}usr{{ .chezmoi.pathSeparator }}local{{ .chezmoi.pathSeparator }}bin{{ .chezmoi.pathSeparator }}ksdiff -w \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = {{ .chezmoi.pathSeparator }}usr{{ .chezmoi.pathSeparator }}local{{ .chezmoi.pathSeparator }}bin{{ .chezmoi.pathSeparator }}ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[commit]
	template = {{ .chezmoi.homeDir }}{{ .chezmoi.pathSeparator }}.stCommitMsg
	gpgsign = true
[{{ .chezmoi.config.gpg.command }}]
	format = ssh
[{{ .chezmoi.config.gpg.command }} "ssh"]
	program = {{ .chezmoi.pathSeparator }}Applications{{ .chezmoi.pathSeparator }}1Password.app{{ .chezmoi.pathSeparator }}Contents{{ .chezmoi.pathSeparator }}MacOS{{ .chezmoi.pathSeparator }}{{ .chezmoi.config.onepassword.command }}-ssh-sign
[alias]
	a = add .
	c = commit -m
	d = diff
	l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	ll = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative --all
	ls = ls-files
	st = status
    co = checkout
    br = branch
    unstage = reset HEAD --
    last = log -1 HEAD
