# ---- OrbStack Generated ----

Include ~{{ .chezmoi.pathSeparator }}.orbstack{{ .chezmoi.pathSeparator }}ssh{{ .chezmoi.pathSeparator }}config

# --- Sourcetree Generated ---

Host {{ .gh_username }}-GitHub
	User {{ .gh_username }}
	HostName github.com
	IdentityFile {{ .chezmoi.homeDir }}{{ .chezmoi.pathSeparator }}.ssh{{ .chezmoi.pathSeparator }}{{ .gh_username }}-GitHub
	PreferredAuthentications publickey
	UseKeychain yes
	AddKeysToAgent yes

# ----------------------------

Host *
	ServerAliveInterval 60
	ServerAliveCountMax 60

# -------- 1Password ----------

Host *
{{- if eq .chezmoi.os "darwin" -}}
	IdentityAgent "~{{ .chezmoi.pathSeparator }}Library{{ .chezmoi.pathSeparator }}Group Containers{{ .chezmoi.pathSeparator }}2BUA8C4S2C.com.1password{{ .chezmoi.pathSeparator }}t{{ .chezmoi.pathSeparator }}agent.sock"
{{- else -}}
	IdentityAgent "~{{ .chezmoi.pathSeparator }}.1password{{ .chezmoi.pathSeparator }}agent.sock"
{{- end -}}
