#!/bin/bash

set -eufo pipefail

{{ template "scripts-library" }}

log_task "Installing pipx packages"

while read -r package; do
  # skip line if it's whitespace or a comment
  if [[ -z "$package" || "$package" =~ ^[[:space:]]*# ]]; then
    continue
  fi

  # install the package
  if ! pipx upgrade "$package" > /dev/null 2>&1; then
    log_error "Failed to install pipx package: $package"
    [[ -n "$FAIL_FAST" ]] && exit 1
  fi
done < {{ .chezmoi.sourceDir }}{{ .chezmoi.pathSeparator }}requirements.txt
