#!/bin/bash

set -eufo pipefail

{{ template "scripts-library" }}

log_task "Installing global npm packages"

declare -a packages=(
  "@mermaid-js/mermaid-cli"
  aicommits
  mac-ca
  npm
)

for package in "${packages[@]}"; do
  if ! npm update -g "$package" > /dev/null 2>&1; then
    log_error "Failed to install npm package: $package"
  fi
done
